.table {
    align-items: stretch;
    display: grid;
    justify-items: stretch;
    grid-template-columns: repeat(4, 2fr);
    margin-left: 25px;
    margin-right: 25px;
    width: -webkit-fill-available;
}
